<!-- filepath: /d:/coding_projects/Azad_proj/templates/website/service_list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Service List</title>
    <style>
        body {
            -webkit-user-select: none; /* For Safari */
            user-select: none; /* For non-Safari browsers */
            -moz-user-select: none; /* For Firefox */
            -ms-user-select: none; /* For Internet Explorer/Edge */

        }
        .example-class {
            width: -webkit-fill-available; /* For Edge */
        }
    </style>
</head>
<body>
    <h1>Service List</h1>
</body>
</html>
